<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <div class="LoginForm">
            <form id="Login" action="/login" method="POST">
                <div class="email">
                    <input type="email" id="email" required placeholder="Enter your email" name="email"
                        title="Please enter a valid email address">
                </div>
                <br>
                <div class="password">
                    <input type="password" id="password" placeholder="password" name="password" minlength="8"
                        title="Password should be at least 8 characters long">
                </div>
                <br>
                <div class="loginbutton">
                    <button type="submit" id="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/script.js">
        //express app, creating an instance to invoke that express app
        //const renderDashboard = require('./dashBoard.ejs').renderDashboard;
        //import { renderDashboard } from ('/public/script.js');
        // Your code that accesses the DOM

    </script>
</body>

</html>